@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Baloo 2";
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border: 2px solid #f9c041;
    background-color: #2c5e74;
}

.policy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.policy1{
    display: flex;
    flex-direction: column;
}
.policy1 h1{
    text-align: center;
    font-size: 8vh;
}
.policy1 span{
    height: 0.5vh;
    width: 30vw;
    background-color: #2c5e74;
}
.policy3{
  display: flex;
  flex-direction: column;
}
.policy3 h1{
  text-align: center;
  font-size: 8vh;
}
.policy3 span{
  height: 0.5vh;
  width: 30vw;
  background-color: #2c5e74;
}
.policy2{
    width: 140vh;
    font-size: 3vh;
    margin-top: 4vh;
    line-height: 4.5vh;
    margin-bottom: 2vh;
}

.policy2 span{
    color: black;
}

.policy2 address{
    margin-top: 4vh;
    color: black;
}

@media (max-width: 950px) {
    .policy1 h1{
        text-align: center;
        font-size: 5vh;
    }
    .policy1 span{
        height: 0.5vh;
        width: 75vw;
        background-color: #2c5e74;
    }
    .policy2{
        width: 45vh;
        font-size: 2.5vh;
    }
    .policy2 address{
        width: 46vh;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* footer css */
.footer {

    line-height: 1.5;
    font-family: "Baloo 2";
  }
  
  *{ 
      margin:0;
      padding:0;
  }  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    margin-top: 0.2vh;
    background-color: #24262b;
    padding: 70px 0;
    position: relative;
  }
  
  .footer-col {
    width: 30%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f9c041;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }


  .donate1{
    color: #bbbbbb;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

  }

  .donate1:hover{
    cursor: pointer;
    color: #ffffff;
    padding-left: 8px;
  }

  .donate2:hover{
    cursor: pointer;
    color: #ffffff;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px) {
.footer{
    position: relative;
    top: 210vh;
}

    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
