@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border: 2px solid #f9c041;
    background-color: #2c5e74;
}

body {
    background-size: cover;
}

.navbar {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
}

.check1 {
    display: none;
}



.navbar .logo {
    height: inherit;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.logo img {
    height: 10vh;
}

nav {
    height: 13vh;
    width: 54.5vw;
    /* background-color: black; */
    position: fixed;
    display: flex;
    left: 22.2vw;
    top: 1.4vh;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 1px 7px 32px -18px rgba(0, 0, 0, 0.62);
    z-index: 1000;
    /* top: -15vh; */
    background-color: #fff;
    transition: all .3s;

}

/* .nav.animate{
    top: -15vh;
}

.nav.sticky{
    top: 0;
} */

nav a {
    font-size: 2.7vh;
    font-family: "Baloo 2";
    color: #000;
}

.home-nav {
    width: 7.4vw;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.2vw;
    cursor: pointer;
    transition: all .3s;
}

.home-nav a{
    height: inherit;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}


#navigation:checked ~ .home-nav{
    color: #fff;
    background-color: #f9c041;
}

#navigation:checked ~ .home-nav a{
    color: #fff;
}



.about-nav {
    width: 7.5vw;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
    transition: .3s;
    transition: all .3s;
}

.about-nav a{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

#navigation1:checked ~ .about-nav{
    color: #fff;
    background-color: #f9c041;
}

#navigation1:checked ~ .about-nav a{
    color: #fff;
}


.project-nav {
    width: 6.4vw;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

.project-nav a{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

#navigation2:checked ~ .project-nav{
    color: #fff;
    background-color: #f9c041;
}

#navigation2:checked ~ .project-nav a{
    color: #fff;
}


.achievement-nav{
    width: 10vw;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}
.achievement-nav a{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

#navigation4:checked ~ .achievement-nav{
    color: #fff;
    background-color: #f9c041;
}

#navigation4:checked ~ .achievement-nav a{
    color: #fff;
}


.team-nav {
    width: 7.8vw;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-nav a{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

#navigation3:checked ~ .team-nav{
    color: #fff;
    background-color: #f9c041;
}

#navigation3:checked ~ .team-nav a{
    color: #fff;
}


.partner-nav {
    width: 6.5vw;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.partner-nav a{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

#navigation5:checked ~ .partner-nav{
    color: #fff;
    background-color: #f9c041;
}

#navigation5:checked ~ .partner-nav a{
    color: #fff;
}


.rakt-nav {
    width: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate {
    color: #f9c041;
    font-family: "Baloo 2";
    font-size: 35px;
    display: flex;
    align-items: center;
    height: 6vh;
    margin-left: 72vw;
    font-weight: 500;

}

.donate label{
    color: #f9c041;
    transition: .3s;
    cursor: pointer;
}

.donate label:hover {
    color: #2c5e74;
}

@media (max-width:950px) {
    body {
        background-size: cover;
        width: 100vw;
    }

    .navbar {
        width: 100vw;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        box-shadow: 1px 7px 32px -18px rgba(0, 0, 0, 0.62);

    }

    .donate {
        margin-left: 18vw;
    }

    .donate a {
        font-size: 3vh;
    }

    .logo {
        margin-left: 28vw;
        top: -4vh;
    }

    .logo img {
        height: 7vh;
        margin-bottom: 2vh;
    }

    nav {
        height: 115vh;
        width: 100vw;
        top: 0;
        left: -100%;
        border-radius: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in;
        background-color: #fff;
        z-index: 1000;
    }

    .navbar{
        position: fixed;
        top: 0vh;
        z-index: 500;
        background-color: #fff;
        border-radius: 2vh;
    }

    nav a {
        width: 100vw;
        margin: 1vh;
    }


    .home-nav {
        width: 50vw;
        height: 5vh;
        margin: 1.5vh;
        border-radius: 5vw;
    }

    .about-nav {
        width: 50vw;
        height: 5vh;
        margin: 1.5vh;
        border-radius: 5vw;
    }

    .project-nav{
        width: 50vw;
        height: 5vh;
        margin: 1.5vh;
        border-radius: 5vw;
    }

    .achievement-nav {
        width: 50vw;
        height: 5vh;
        margin: 1.5vh;
        border-radius: 5vw;
    }

    .team-nav {
        width: 50vw;
        height: 5vh;
        margin: 1.5vh;
        border-radius: 5vw;
    }

    .partner-nav {
        width: 50vw;
        height: 5vh;
        margin: 1.5vh;
        border-radius: 5vw;
    }

    .hamburger {
        height: 7vh;
        width: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: 2vw;
    }

    .hamburger div {
        height: 0.7vh;
        width: inherit;
        border-radius: 25px;
        background-color: #000;
        margin: 0.37vh;
    }

    .donate{
        font-size: 3.5vh;
    }

    .rakt-nav {
        width: 40vw;
    }

    #check {
        display: none;
    }

    #check:hover~nav {
        left: 0;
    }



}








/* HOMEPAGE */

.home-main {
    height: 85vh;
    width: 100vw;
    display: flex;
}

.home-left {
    height: inherit;
    width: 55vw;
}


.hhfc-design {
    width: inherit;
    height: 35vh;
    display: flex;
}

.gif1 {
    margin-left: 11vw;
    margin-bottom: 12vh;
    transform: rotate(-100deg)
}

.gif1 img {
    height: 10vh;
}

.hhfc-h1 {
    width: 8.7vw;
    height: 12.5vh;
    background-color: #f9c041;
    margin-top: 15vh;
    transform: rotate(-6deg);
    position: relative;
    left: -2.5vw;
    font-family: 'Rubik Dirt', cursive;
    font-size: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px;
}

.hhfc-h2 {
    width: 5.8vw;
    height: 15vh;
    background-color: #2c5e74;
    margin-top: 13.8vh;
    transform: rotate(2deg);
    position: relative;
    left: -1vw;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 2px 2px;
}

.hhfc-f {
    width: 4.8vw;
    height: 16vh;
    background-color: #f9c041;
    margin-top: 13.2vh;
    transform: rotate(-4deg);
    position: relative;
    left: 0.3vw;
    font-size: 12vh;
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    align-items: center;
    box-shadow: 2px 2px;
}

.hhfc-c {
    width: 4.2vw;
    height: 12.8vh;
    background-color: #2c5e74;
    margin-top: 14.9vh;
    transform: rotate(3deg);
    position: relative;
    left: 2.2vw;
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 2px 2px;
}

.hhfc-quote {
    height: 23vh;
    width: inherit;
    font-family: 'Lobster Two', cursive;
    font-size: 7vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
}

.register-btn-design {
    height: 17vh;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-left {
    height: 8vh;
}

.register-btn {
    height: 7.8vh;
    width: 12vw;
    border-radius: 45px;
    background-color: #2c5e74;
    margin: 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.register-btn a {
    font-size: 3.5vh;
    color: #fff;
    font-family: "Baloo 2";
}

.register-btn:hover {
    background-color: #f9c041;
    color: #000;
    cursor: pointer;
    box-shadow: 10px 7px 32px -18px rgba(0, 0, 0, 0.62);
}

.register-right {
    height: 8vh;
}


.site-name {
    height: 10vh;
    width: inherit;
    font-size: 3.5vh;
    font-family: "Baloo 2";
    padding-left: 5vw;
}


.home-right {
    height: inherit;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-right video {
    height: 75vh;
}


.payment{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.donate-pay{
    height: 30vh;
    width: 40vw;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg1.png");
}

.donate-pay h2{
    height: 20vh;
    width: inherit;
    font-family: "Baloo 2";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* PAYMENT REPONSIVE */
@media (max-width: 950px){
.payment .donate-pay {
    width: 85vw;
}

.donate-pay h2{
    font-size: 2vh;
}
}

#donate:checked ~ .payment{
    visibility: visible;
}


#register:checked ~ .payment{
    visibility: visible;
}




@media (max-width:950px) {
    .home-main {
        flex-direction: column-reverse;
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 10vh;
        background-position-y: -5.8vh;
    }

    .home-right {
        width: 100vw;
        height: 50vh;

    }

    .home-right video {
        height: 50vh;
        width: 100vw;
    }

    .home-left {
        width: 100vw;
        height: 50vh;
    }

    .hhfc-design {
        height: 20vh;
    }

    .gif1 {
        margin-left: 9vw;
        margin-bottom: 10vh;
    }

    .gif1 img {
        height: 6.5vh;
    }

    .hhfc-h1 {
        margin-top: 7vh;
        width: 20vw;
        left: -6vw;
        height: 7.5vh;
        font-size: 7vh;
    }

    .hhfc-h2 {
        margin-top: 7vh;
        width: 13.7vw;
        left: -2vw;
        height: 8.2vh;
        font-size: 6vh;
    }

    .hhfc-f {
        margin-top: 6.5vh;
        width: 11vw;
        left: 1.5vw;
        height: 9vh;
        font-size: 8vh;
    }

    .hhfc-c {
        margin-top: 7.5vh;
        width: 11vw;
        left: 5.5vw;
        height: 7vh;
        font-size: 5vh;
    }

    .hhfc-quote {
        height: 10vh;
        font-size: 3vh;
        line-height: 2.5vh;
        padding-bottom: 3.5vh;
    }

    .register-btn-design {
        height: 5vh;
    }

    .register-left {
        height: 5vh;
    }

    .register-btn {
        width: 25vw;
        height: 4vh;
    }

    .register-btn a {
        font-size: 2vh;
    }

    .register-right {
        height: 5vh;
    }

    .site-name {
        height: 5vh;
        font-size: 2vh;
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-top: 2vh;
    }
}







/* ABOUT-US */

.about-us {
    height: 60vh;
    background-image: url("images/bg1.png");
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us h1 {
    height: 50vh;
    opacity: 0.7;
    font-size: 12vh;
    font-family: "Baloo 2";
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about-us p {
    height: 30vh;
    width: 45vw;
    font-size: 3.5vh;
    color: #fff;
    line-height: 4vh;
    letter-spacing: 1px;
    font-family: "Baloo 2";
    text-align: center;
}

@media (max-width:950px) {
    .about-us {
        background-image: url("images/bg1.png");
        background-size: 75vh;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .about-us h1 {
        height: 20vh;
        position: relative;
        top: 4vh;
        left: 2vw;
        font-size: 3.5vh;
    }

    .about-us p {
        font-size: 1.5vh;
        width: 90vw;
        line-height: 2vh;
        position: relative;
        top: 4vh;
    }
}






.whatwedo {
    height: 100vh;
    width: 100vw;
}

.whatwedo-head {
    height: 20vh;
    width: inherit;
    background-image: url("images/bg2.png");
    background-size: 119vh;
    background-repeat: no-repeat;
    display: flex;
}

.whatwedo-head .h1 {
    height: inherit;
    width: 28vw;
    font-size: 8.2vh;
    font-family: "Baloo 2";
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3vh;
    padding-right: 2vh;
}

.whatwedo-head .h2 {
    height: inherit;
    width: 10vw;
    font-size: 8.2vh;
    font-family: "Baloo 2";
    display: flex;
    align-items: center;
    padding-top: 3vh;
    padding-inline-start: 0.5vw;
    color: #f9c041;
}

.whatwedo-body {
    height: 80vh;
    width: 100vw;
    background-size: 170vh;
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
}

.whatwedo-body .content1 {
    height: 40vh;
    width: inherit;
    display: flex;
}

.content1 .education-wrapper {
    height: inherit;
    width: 33vw;
}

.education-card {
    position: relative;
    top: 6.5vh;
    left: 16vw;
}

.homeless-card {
    position: relative;
    top: 6.5vh;
    left: 16vw;
}

.medical-wrapper {
    height: inherit;
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medical-card {
    position: relative;
    top: 2vh;
}



.food-wrapper {
    height: inherit;
    width: 34vw;
}

.food-card {
    position: relative;
    top: 6.5vh;
    left: 2vh;
}

.cards {
    height: 30vh;
    width: 16vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 10px 20px -18px rgba(0, 0, 0, 0.62);
    background-color: #fff;
    transition: all .2s ease-out;
}

.cards:hover {
    cursor: pointer;
}


.img {
    height: 23vh;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img img {
    height: 20vh;
    transition: all .2s ease-out;
}

.cards h1 {
    height: 4.5vh;
    width: inherit;
    font-family: "Baloo 2";
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .line {
    height: 0.3vh;
    width: 3vw;
    background-color: #2c5e74;
}

.cards:hover>.img>img {
    height: 20.5vh;
}




@media (max-width:950px) {

    .whatwedo-head{
        background-position-x:-15vw ;
        background-size: cover;
    }


    .whatwedo-head .h1 {
        height: inherit;
        width: 50vw;
        font-size: 4vh;
        font-family: "Baloo 2";
        font-weight: 900;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 13vw;
        position: relative;
        top: -3vh;
    }

    .whatwedo-head .h2 {
        height: inherit;
        width: 41vw;
        font-size: 6vh;
        font-family: "Baloo 2";
        display: flex;
        align-items: center;
        padding-top: 3vh;
        padding-inline-start: 0.5vw;
        color: #f9c041;
        position: relative;
        top: -3vh;
    }

    .content1{
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .education-wrapper{
        height: 25vh;
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 15vw;
    }
 
    .education-card{
        height: 30vh;
        width: 60vw;
        position: relative;
    }

    .medical-wrapper{
        height: 25vh;
        width: 100vw;
        position: relative;
        top: -6vh;
    }
 
    .medical-card{
        height: 30vh;
        width: 60vw;
        position: relative;
        justify-content: flex-start;
        top: 20vh;
    } 

    .cards h1{
        font-size: 2vh;
    }

    .medical-card h1{
        font-size: 2vh;
    }

    .food-wrapper{
        height: 25vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .food-card{
        height: 30vh;
        width: 60vw;
        position: relative;
        top: 24vh;
        left: -1vw;
    }

    .content2{
        position: relative;
        top: 70vh;
    }

    .homeless-card{
        height: 30vh;
        width: 60vw;
        position: relative;
    }
}


/* 
HIDDEN INFO */

.whatwedo-info {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

input {
    display: none;
}

.education-info {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.info-top {
    height: 30vh;
}

.education-card-info {
    position: relative;
    top: -10vh;
    z-index: 1000;
}



.info-body {
    height: 40vh;
    width: 75%;
    padding: 0 2vw;
    display: flex;
    font-family: "Baloo 2";
    font-size: 3vh;
    overflow: scroll;
    margin: 5vh;
    text-align: justify;
    position: relative;
    margin-top: -10vh;
}




.info-body::-webkit-scrollbar {
    height: 0;
    width: 1.5vw;
}

.info-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.info-body::-webkit-scrollbar-thumb {
    background: #888;
}

.info-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#education:checked~.whatwedo-info {
    display: flex;
    visibility: visible;
}

#education:checked~.whatwedo-info>.education-info {
    height: 65vh;
    width: 65vw;
    opacity: 1;
    animation: hey1 .37s .0s linear forwards;
}



#education:checked~.whatwedo-info>.education-info>.info-top>.education-card-info {
    animation: hey .37s .05s linear forwards;
}




/* MEDICAL INFO */

#medical:checked~.whatwedo-info {
    display: flex;
    visibility: visible;
}

#medical:checked~.whatwedo-info>.education-info {
    height: 65vh;
    width: 65vw;
    opacity: 1;
    animation: hey1 .37s .0s linear forwards;
}


#medical:checked~.whatwedo-info>.education-info>.info-top>.education-card-info {
    animation: hey .37s .05s linear forwards;
}



#food:checked~.whatwedo-info {
    display: flex;
    visibility: visible;
}

#food:checked~.whatwedo-info>.education-info {
    height: 65vh;
    width: 65vw;
    opacity: 1;
    animation: hey1 .37s .0s linear forwards;
}


#food:checked~.whatwedo-info>.education-info>.info-top>.education-card-info {
    animation: hey .37s .05s linear forwards;
}


#outreach:checked~.whatwedo-info {
    display: flex;
    visibility: visible;
}

#outreach:checked~.whatwedo-info>.education-info {
    height: 65vh;
    width: 65vw;
    opacity: 1;
    animation: hey1 .37s .0s linear forwards;
}



#outreach:checked~.whatwedo-info>.education-info>.info-top>.education-card-info {
    animation: hey .37s .05s linear forwards;
}


#blood:checked~.whatwedo-info {
    display: flex;
    visibility: visible;
}

#blood:checked~.whatwedo-info>.education-info {
    height: 65vh;
    width: 65vw;
    opacity: 1;
    animation: hey1 .37s .0s linear forwards;
}


#blood:checked~.whatwedo-info>.education-info>.info-top>.education-card-info {
    animation: hey .37s .05s linear forwards;
}


#festival:checked~.whatwedo-info {
    display: flex;
    visibility: visible;
}

#festival:checked~.whatwedo-info>.education-info {
    height: 65vh;
    width: 65vw;
    opacity: 1;
    animation: hey1 .2s .0s linear forwards;
}

@keyframes hey1 {
    from {
        height: 66vh;
        width: 66vw;
    }

    to {
        height: 65.2vh;
        width: 65.2vw;
    }
}

#festival:checked~.whatwedo-info>.education-info>.info-top>.education-card-info {
    animation: hey .2s .1s linear forwards;
}

@keyframes hey {
    from {
        top: -10vh;
    }

    to {
        top: -15vh;
    }
}

/* PROJECT */
.project-main {
    height: 100vh;
    width: 100vw;
    background-image: url("images/p-bg.png");
    background-size: cover;
    display: flex;
}

.project-left {
    height: inherit;
    width: 40vw;
}

.project-left h1 {
    height: 27vh;
    width: inherit;
    font-size: 8vh;
    padding-left: 5vw;
    word-spacing: 0.7vw;
    font-family: "Baloo 2";
    display: flex;
    align-items: flex-end;
    line-height: 9vh;
}

.project-left h2 {
    height: 17vh;
    width: inherit;
    font-size: 16vh;
    font-family: "Baloo 2";
    font-weight: 900;
    line-height: 11vh;
    padding-left: 4vw;
    color: #f9c041;
}

.project-left p {
    height: 30vh;
    width: inherit;
    font-size: 3vh;
    font-family: "Baloo 2";
    padding: 0 5.5vw;
    line-height: 5.5vh;
}

.project-left .line-box {
    height: 3vh;
    width: 6.4vw;
    background-color: #2c5e74;
    margin-top: 2vh;
    margin-left: 4.7vw;
}

.project-right {
    height: inherit;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* esjf */

.project {
    position: relative;
    overflow: hidden;
    padding: 20px;
}


.project-container {
    padding: 0 5vw;
    width: 55vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.project-container::-webkit-scrollbar {
    display: none;
}

.project-card {
    width: 16vw;
    height: 45vh;
    margin-right: 1.6vw;
}

.project-card .pcard {
    height: inherit;
    width: 15.5vw;
    background: #000;
    overflow: hidden;
}

.pcard img {
    height: inherit;
    width: inherit;
}


.p-info {
    height: inherit;
    width: inherit;
    background-color: #000;
    position: relative;
    opacity: 0.7;
    top: -6vh;
    transition: all .5s ease;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-info h1 {
    height: 5vh;
    font-family: "Baloo 2";
    display: flex;
    font-size: 3vh;
    justify-content: center;
}

.p-info p {
    height: 25vh;
    font-family: "Baloo 2";
    text-align: center;
    font-size: 2vh;
    margin-top: 2vh;
}

.p-info label {
    display: flex;
    height: 3.7vh;
    width: 7vw;
    background-color: #fff;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: "Baloo 2";
    margin-top: 5vh;
    transition: all .2s;
}

.p-info label:hover {
    cursor: pointer;
    background-color: #f9c041;

    width: 7.4vw;
}

.pcard:hover>.p-info {
    top: -45vh;
}


.pre-btn,
.nxt-btn {
    border: none;
    width: 5vw;
    height: 25%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: -2vw;
    top: 45%;
    transform: rotate(180deg);
    background-color: rgba(0, 0, 0, 0);
}

.nxt-btn {
    left: -2vw;
    top: 30%;
    background-color: rgba(0, 0, 0, 0);
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.4;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}


.project-info {
    height: 100vh;
    width: 100vw;
    position: fixed;
    visibility: hidden;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}





.project1-info {
    height: 75vh;
    width: 70vw;
    background-color: #f1f1f1;
    border-radius: 35px;
    display: flex;
    transition: all .3s ease;
}



.project1-info label {
    position: fixed;
    left: 153vh;
    top: 17vh;
    cursor: pointer;
    color: #2c5e74;
    font-family: "Baloo 2";
    font-size: 3vh;
}

.p-info-image {
    height: inherit;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -5vw;
}

.p-info-image img {
    height: 60vh;
    width: 50vh;
    border: 1px solid #000;
    border-radius: 35px;
    box-shadow: 1px 2px 10px 2px #000;
}

.p-info-right {
    height: inherit;
    width: 50vw;
}

.p-info-right h1 {
    height: 20vh;
    font-family: "Baloo 2";
    font-size: 5vh;
    display: flex;
    align-items: center;
}

.p-info-right p {
    height: 40vh;
    font-family: "Baloo 2";
    font-size: 2.5vh;
    width: 45vw;
    padding-right: 4vw;
    overflow: scroll;
}

.p-info-right p::-webkit-scrollbar {
    height: 0;
    width: 1.5vw;
    border: #000;
}

.p-info-right p::-webkit-scrollbar-thumb {
    background-color: #000;
    opacity: 0.8;
    border-radius: 25px;
}


#project1:checked~.project-info {
    visibility: visible;
}

#project1:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}


#project1:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}



#project2:checked~.project-info {
    visibility: visible;
}

#project2:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}



#project2:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}



#project2:checked~.project-info {
    visibility: visible;
}

#project2:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}



#project2:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}

#project3:checked~.project-info {
    visibility: visible;
}

#project3:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}



#project3:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}

#project4:checked~.project-info {
    visibility: visible;
}

#project4:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}



#project4:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}

#project5:checked~.project-info {
    visibility: visible;
}

#project5:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}



#project5:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}



#project6:checked~.project-info {
    visibility: visible;
}

#project6:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}



#project6:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}


#project7:checked~.project-info {
    visibility: visible;
}

#project7:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}



#project7:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}


#project8:checked~.project-info {
    visibility: visible;
}

#project8:checked~.project-info .project1-info .p-info-image {
    left: -5vw;
    animation: hey3 .3s .0s linear;
}



#project8:checked~.project-info .project1-info {
    height: 75vh;
    width: 70vw;
    animation: hey4 .2s .0s linear forwards;
}


@keyframes hey3 {
    from {
        left: -8vw;
    }

    to {
        left: -5vw;
    }
}

@keyframes hey4 {
    from {
        height: 75vh;
        width: 70vw;
    }

    to {
        height: 73vh;
        width: 68vw;
    }
}


.sepcial-day-main {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin-top: 5vh;
}

.special-day-head {
    height: 15vh;
    width: inherit;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.special-day-head .line {
    height: 0.5vh;
    width: 8vw;
    background-color: #2c5e74;
    display: flex;
    margin-left: 2vh;
}

.line1 {
    margin-top: 7vh;
    margin-right: -6vh;
    margin-left: 2vw;
}

.line2 {
    margin-top: 7vh;
}

.gif img {
    height: 6vh;
}

.special-heading {
    font-size: 8vh;
    font-weight: 900;
    color: #f9c041;
    font-family: "Baloo 2";
    margin: 0vh;
    margin-top: 6.7vh;
    margin-left: 8vw;

}

.special-day-body {
    position: relative;
    top: -10vh;
    height: 80vh;
    width: 100vw;
    display: flex;
}

.special-day-left {
    height: inherit;
    width: 30vw;
    display: flex;
    justify-content: center;
}

.special-day-left img {
    height: 36vh;
    margin-top: 10vh;
    border: 2.2vh solid #f9c041;
    position: relative;
    top: 6vh;
}


.special-day-center {
    height: inherit;
    width: 45.5vw;
}

.special-day-center p {
    height: 40vh;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 4.5vh;
    font-weight: bold;
    line-height: 5.5vh;
}

.special-day-center h1 {
    height: 10.5vh;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Baloo 2";
    font-size: 4vh;
    position: relative;
    top: -10vh;
}

.special-day-center .special-day-container{
    height: 40vh;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-day-container .container{
    height: 30vh;
    margin: 0 2vw;
    width: 10.5vw;
    background-color: #fff;
    box-shadow: 1px 7px 50px -18px rgba(0,0,0,0.62);
    border-radius: 35px;
    overflow-y: hidden;
    position: relative;
    top: -10vh;
}

.container h3{
    height: inherit;
    width: inherit;
    background-color: rgba(240, 240, 240, 1);
    background-image: url("images/bg1.png");
    border-radius: 35px;
    color: #2c5e74;
    font-family: "Baloo 2";
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items:center;
    opacity: 1;
    transition: all .3s ease;
}

.container span{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 35px;
    font-family: "Baloo 2";
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    top: 0vh;
    transition: all .3s ease;
}

.container span h2{
    color: #f9c041;
}

.container span label{
    height: 4vh;
    width: 8vw;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    font-size: 2.2vh;
    transition: all .3s ease;
}

.container span label:hover{
    width: 8.5vw;
    background-color: #f9c041;
    color: #fff;
    cursor: pointer;
    font-size: 2vh;
}

.container:hover > span{
    position: relative;
    top: -30vh;
}

.container:hover > h3{
    opacity: 0;
}


.special-day-right{
    height: inherit;
    width: 24.5vw;
    display: flex;
    justify-content: center;
}

.special-day-right img{
    height: 65vh;
    margin-top: 2vh;
}



@media (max-width:950px) {
    .sepcial-day-main{
        position: relative;
        top: 125vh;
        width: 100vw;
    }

    .special-day-head{
        height: 15vh;
        width: 100vw;
    }
    .special-heading{
        font-size: 7vh;
    }

    .sepcial-day-main .special-day-head .special-heading {
        font-size: 6vh;
        font-weight: 900;
        color: #f9c041;
        font-family: "Baloo 2";
        margin: 0vh;
        margin-top: 6.7vh;
        margin-left: 8vw;
        margin-left: 18vw;
    }   

    .special-day-head .line1{
        right: 5vw;
    }

    .special-day-body{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .special-day-body .special-day-left{
        width: 100vw;
    }

    .special-day-left .special-day-left img{
        height: 40vw;
    }

    .special-day-head .gif{
        display: none;
    }

    .special-day-right{
        font-display: none;
    }

    .special-day-body .special-day-center{
        height: 50vh;
    }

    .special-day-body .special-day-center p {
        height: 40vh;
        width: 105vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Baloo 2";
        font-size: 4vh;
        font-weight: bold;
        padding-inline-start: 3vw;
        line-height: 5.5vh;
        position: relative;
        left: -2vh;
        top: -5vh;
    }

    .special-day-body .special-day-center h1{
        font-size: 3.5vh;
        width: 100vw;
        position: relative;
        top: -10vh;
    }
    .special-day-body .special-day-center .special-day-container{
        flex-direction: column;
        height: 160vh;
        width: 100vw;
        position: relative;
        top: -25vh;
    }

    .special-day-body .special-day-container .container{
        height: 30vh;
        width: 60vw;
        margin: 2vh;
    }

    .special-day-body .special-day-container .container h2{
        font-size: 3vh;
    }

    .special-day-body .special-day-container .container label{
        width: 40vw;
    }


    .special-day-body .special-day-right{
        display: none;
    }

}






@media (max-width:950px) {
    .project-main{
        position: relative;
        height: 150vh;
        top: 140vh;
        flex-direction: column;
        background-size: 160vw;
        background-position-y: 93.5vh;
        background-position-x: -30vw;
        background-repeat: no-repeat;

    }

    .project-left{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-left h1{
        font-size: 6vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        position: relative;
        left: -3vw;
    }
    .project-left h2{
        font-size: 10vh;
        display: flex;
        justify-content: center;
        position: relative;
        top: -3vh;
        left: -2vw;
    }

    .project-left p{
        font-size: 2.5vh;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: -5vh;
    }

    .project-left .line-box{
        width: 20vw;
        height: 2vh;
        position: relative;
        top: -3vh;
    }

    .project-right{ 
        width: 100vw;
        position: relative;
        top: -5vh;
    }

    .project-container{
        width: 70vw;
        margin-left: 7.5vw;
    }
    .project{
        width: 100vw;
    }

    .project-card{
        width: 100vw;
        padding: 0;
        margin: 0.3vh;
    }

    .project-card .pcard{
        width: 65vw;
        padding: 0;
    }

    .pcard img{
        width: 100%;
    }

    .pre-btn{
        left: 5vw;
    }

    .nxt-btn {
        left: 90vw;
        top: 45%;
        background-color: rgba(0, 0, 0, 0);
    }

    .p-info label {
        display: flex;
        height: 4.7vh;
        width: 36vw;}

        .p-info-image img {
            height: 27vh;
            width: 25vh;
            border: 1px solid #000;
            border-radius: 35px;
            box-shadow: 1px 2px 10px 2px #000;
            position: relative;
            top: -30vh;
            left: 30vw;
        }

    .p-info-right h1{
        font-size: 4vh;
        line-height: 4vh;
        position: relative;
        width: 70vw;
        top: 10vh;
    }

    .p-info-right p{
        font-size: 2.2vh;
        width: 80vw;
        height: 30vh;
        position: relative;
        text-align: justify;
        left: -15vw;
        top: 5vh;
    }


    @keyframes hey4 {
        from {
            height: 75vh;
            width: 70vw;
        }
    
        to {
            height: 60vh;
            width: 90vw;
        }
    }

    .project1-info label {
        position: fixed;
        left: 33vh;
        top: 25vh;
        cursor: pointer;
        color: #2c5e74;
        font-family: "Baloo 2";
        font-size: 3vh;
    }
}

/* what wedo responsive */
@media (max-width:950px) {
    .info-body{
        font-size: 1.8vh;
        width: 90%;
        height: 50vh;
    }

    .info-top{
        height: 25vh;
        position: relative;
        top: 4vh;
    }

    .education-card-info{
        width: 45vw;
        height: 22vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .education-card-info img{
        height: 15vh;
        position: relative;
        top: -2vh;
    }

    .education-card-info h1{
        font-size: 1.7vh;
        position: relative;
        top: -1vh;
    }

    .education-card-info .line{
        position: relative;
        top: -1vh;
        width: 5vw;
    }


    .education-info {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    #education:checked~.whatwedo-info>.education-info {
        height: 80vh;
        width: 80vw;
        opacity: 1;
        animation: hey1 .37s .0s linear forwards;
    }
    @keyframes hey1 {
        from {
            height: 84vh;
            width: 94vw;
        }
    
        to {
            height: 45vh;
            width: 90vw;
        }
}

}

@media (max-width:950px) {
    .team-main{
        position: relative;
        top: 250vh;
    }
    
}















.team-main {
    height: 100vh;
    width: 100vw;
    background-size: cover;
}



.team-head {
    height: 30vh;
    display: flex;
    justify-content: flex-end;
}

.team-head h2 {
    height: inherit;
    width: 25vw;
    font-family: "Baloo 2";
    font-size: 9vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.team-head h1 {
    height: inherit;
    width: 33vw;
    font-family: "Baloo 2";
    font-size: 15vh;
    color: #f9c041;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.team-body {
    height: 58vh;
    width: 100vw;
    display: flex;
}

.team-body-left {
    height: 70vh;
    width: 55vw;
}

.team-body-left img {
    height: 50vh;
    margin-left: 2vw;
    border: 10px solid #f9c041;
    border-radius: 10vh;
    box-shadow: 1px 7px 60px -18px rgba(0, 0, 0, 0.62);
}

.team-body-right {
    height: inherit;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-body-right p {
    height: 40vh;
    width: 33vw;
    margin-left: -10vw;
    font-size: 3.5vh;
    margin-top: 8vh;
    font-family: "Baloo 2";
    line-height: 5vh;
    padding-top: 3vh;
}

.team-body-right .team-btn {
    height: 7vh;
    width: 12vw;
    border-radius: 25px;
    background-color: #2c5e74;
    position: relative;
    top: -6vh;
    left: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.team-btn a {
    font-family: "Baloo 2";
    color: #f1f1f1;
    font-size: 4vh;
}

.team-btn:hover{
    width: 12.5vw;
    background-color: #f9c041;
    color: #fff;
}

.team-bottom {
    height: 10vh;
    width: 100vw;
    opacity: 0.8;
}

@media (max-width:950px) {
    .team-main{
        position: relative;
        top: 230vh;
        height: 150vh;
        width: 100vw;
    }

        .team-main {
            height: 100vh;
            margin-top:1.3vh;
            width: 100vw;
            background-size: 40vh;
            background-repeat: no-repeat;
        }
        
        .team-head {
            height: 20vh;
            max-width: 100vw;
            position: relative;
        }
    
        .team-head h2 {
            width: 45vw;
            font-family: "Baloo 2";
            font-size: 5vh;
            margin-top: 2.5vh;
            position: relative;
            top: -2.5vh;
            left: -3vw;
        
        }
    
        .team-head h1 {
            
            width: 45vw;
            font-family: "Baloo 2";
            font-size: 7vh;
            color: #f9c041;
            padding-top: 5vh;
            margin: 0;
            padding: 0;
            position: relative;
            padding-left: 2vw;
        }
    
    
    
        .team-body-left img {
            height: 24vh;
            border: 10px solid #f9c041;
            border-radius: 10vh;
            box-shadow: 1px 7px 60px -18px rgba(0, 0, 0, 0.62);
        }
    
        .team-body-right p {
            height: 35vh;
            width: 95vw;
            margin-left: -55vw;
            font-size: 2.5vh;
            font-family: "Baloo 2";
            line-height: 5vh;
            padding-top: 20vh;
            text-align: center;
        }
    
        .team-body-right .team-btn {
            height: 7vh;
            width: 30vw;
            border-radius: 25px;
            background-color: #2c5e74;
            position: relative;
            top: 12vh;
            display: flex;
            margin-top: -5vh;
            margin-left: -20vh;
        
        }
    
        .team-btn a {
            font-family: "Baloo 2";
            color: #f1f1f1;
            font-size: 3vh;
        }
    
    
}


.achivement {
    height: 80vh;
    width: 100vw;
    background-size: cover;
}

.achive-Heading {
    height: 20vh;
    width: inherit;
    display: flex;
    background-image: url("images/bg2.png");
    background-size: 110vh;
    background-repeat: no-repeat;
}

.h1 {
    height: inherit;
    width: 16vw;
    font-family: 'Baloo 2';
    font-size: 9vh;
    padding-right: 0.7vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h2 {
    height: inherit;
    width: 35vw;
    color: #f9c041;
    font-family: 'Baloo 2';
    font-size: 10vh;
    padding-top: 2vh;
    letter-spacing: 0.2vh;
    padding-left: 1vw;
}

.achive-main {
    height: 80vh;
    width: inherit;
    display: flex;
}

.achive-main-left {
    height: inherit;
    width: 45vw;

}

.achieve-p {
    height: 40vh;
    width: inherit;
    font-size: 3.8vh;
    font-family: 'Baloo 2';
    padding: 0 6vw;
    margin-top: 2vh;
    padding-bottom: 2.8vh;
    padding-left: 8.5vw;
    letter-spacing: 0.19vw;
    line-height: 4.2vh;
    display: flex;
    align-items: center;
}

.achive-box {
    height: 3.5vh;
    width: 5.7vw;
    background-color: #2c5e74;
    margin-left: 8.2vw;

}

.achive-main-right {
    height: inherit;
    width: 55vw;
}

.achive-main-img {
    height: 65vh;
    width: 50vw;
}

.achive-right-img {
    height: 65vh;
    width: 50vw;

}

.achive-right-img img {
    width: 50vw;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    0% {
        opacity: 0.5
    }

    20% {
        opacity: 1
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@media (max-width:950px) {
    .achivement{
        position: relative;
        top: 230vh;
    }

    .achive-Heading{
        width: 100vw;
        background-size: 120vw;
        background-position-x: -10vw;
        background-position-y: 2vh;
        position: relative;
    }
    .achive-Heading .h1{
        font-size: 4.5vh;
        position: relative;
        top: -4vh;
        left: 7vw;
        margin-right: 10vw;
    }
    .achive-Heading .h2{
        font-size: 5vh;
    }

    .achive-main{
        flex-direction: column-reverse;
    }

    .achive-main-left{
        height: 40vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -10vh;
       
    }

    .achieve-p{
        font-size: 2.5vh;
        text-align: center;
        width: 100vw;
        margin: 2vw;
        padding: 2vw;
    }

    .achive-box{
        width: 18vw;
        height: 2vh;
        position: relative;
        left: -5vw;
        position: relative;
        top: -7vh;
    }

    .achive-main-right{
        width: 100vw;
        position: relative;
        top: 30vh;
    }

    .achive-right-img img{
        width: 100vw;
    }
}



.partners{
    margin-top: 5vh;
    height: 90vh;
    width: 100vw;
}

.partners-body{
    height: 70vh;
    width: inherit;
    display: flex;
    margin-top: 10vh;
}

.partners-left{
    height: inherit;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-left img{
    height: 60vh;
}

.partners-right{
    height: inherit;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners-right p{
    height: 40vh;
    width: 30vw;
    font-family: "Baloo 2";
    font-size: 3vh;
}

.partners-right .partner-btn {
    height: 7vh;
    width: 12vw;
    border-radius: 25px;
    background-color: #2c5e74;
    position: relative;
    top: 5vh;
    left: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.partner-btn a {
    font-family: "Baloo 2";
    color: #f1f1f1;
    font-size: 4vh;
}

.partner-btn:hover{
    width: 12.5vw;
    background-color: #f9c041;
    color: #fff;
}


@media (max-width:950px) {
    .partners{
        position: relative;
        top: 235vh;
    }

    .p-head{
        position: relative;
        left: -3vw;
    }

    .partner-heading{
        font-size: 5vh;
    }

    .p-line{
        margin-right: -4vw;
    }

    .partners-body{
        flex-direction: column;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    .partners-left{
        width: 100vw;
        position: relative;
        top: -4vh;
    }

    .partners-left img{
        height: 40vh;
    }

    .partners-right{
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-right p{
        width: 97vw;
        font-size: 2.5vh;
        text-align: center;
        margin-top: -10vh;
    }

    .partners-right .partner-btn {
        height: 7vh;
        width: 40vw;
        border-radius: 25px;
        background-color: #2c5e74;
        position: relative;
        top: 12vh;
        display: flex;
        margin-top: -35vh;
        margin-left: 5vh;
    
    }

    .partner-btn a {
        font-family: "Baloo 2";
        color: #f1f1f1;
        font-size: 3vh;
    }
}



.payment{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.donate-pay{
    height: 30vh;
    width: 40vw;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg1.png");
}

.donate-pay h2{
    height: 20vh;
    width: inherit;
    font-family: "Baloo 2";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#donate:checked ~ .payment{
    visibility: visible;
}


#register:checked ~ .payment{
    visibility: visible;
}

#special1:checked ~ .payment{
    visibility: visible;
}

#special2:checked ~ .payment{
    visibility: visible;
}

#special3:checked ~ .payment{
    visibility: visible;
}




.last-quote{
    height: 65vh;
    width: 100vw;
    background-image: url("images/last-quote.png");
    background-size: cover;
    position: relative;
}

@media (max-width:950px) {
    .last-quote{
        position: relative;
        top: 250vh;
        background-size: 140vw;
        background-repeat: no-repeat;
        background-position-x: -25vw
    }
}

/* Contact Us */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2";
}
.contact-main{
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-main2{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contact-main2 .content9{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-main2 .content9 .left-side9{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content9 .left-side9::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #2c5e74;
}
.content9 .left-side9 .details{
  margin: 14px;
  text-align: center;
}
.content9 .left-side9 .details i{
  font-size: 30px;
  color: #f9c041;
  margin-bottom: 10px;
}
.content9 .left-side9 .details .topic{
  font-size: 24px;
  font-weight: bold;
}
.content9 .left-side9 .details .text-one,
.content9 .left-side9 .details .text-two{
  font-size: 19px;
  color: #222;
}
.contact-main2 .content9 .right-side9{
  width: 75%;
  margin-left: 75px;
}
.content9 .right-side9 .topic-text{
  font-size: 30px;
  font-weight: 600;
  color: #f9c041;
}
.right-side9 .input-box9{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.box9{
    display: flex;
}
.right-side9 .input-box9 input,
.right-side9 .input-box9 textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side9 .message-box9{
  min-height: 110px;
}
.right-side9 .input-box9 textarea{
  padding-top: 6px;
  height: 80px;
}
.right-side9 .button9{
  display: inline-block;
  margin-top: 12px;
}
.right-side9 .button9 input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #2c5e74;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button9 input[type="submit"]:hover{
  background: #f9c041;
}

@media (max-width: 950px) {
  .contact-main2{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .contact-main2 .content9 .right-side9{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .contact-main2{
    margin: 40px 0;
    height: 100%;
  }
  .contact-main2 .content9{
    flex-direction: column-reverse;
  }
 .contact-main2 .content9 .left-side9{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .contact-main2 .content9 .left-side9::before{
   display: none;
 }
 .contact-main2 .content9 .right-side9{
   width: 100%;
   margin-left: 0;
 }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* footer css */
.footer {

    line-height: 1.5;
    font-family: "Baloo 2";
  }
  
  *{ 
      margin:0;
      padding:0;
  }  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    margin-top: 0.2vh;
    background-color: #24262b;
    padding: 70px 0;
    position: relative;
  }
  
  .footer-col {
    width: 30%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f9c041;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }


  .donate1{
    color: #bbbbbb;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

  }

  .donate1:hover{
    cursor: pointer;
    color: #ffffff;
    padding-left: 8px;
  }

  .donate2:hover{
    cursor: pointer;
    color: #ffffff;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px) {
.footer{
    position: relative;
    top: 210vh;
}

    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
