@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border: 2px solid #f9c041;
    background-color: #2c5e74;
}


body{
 background-color: #2c5e74;
}

.team-inside{
    background-color: #2c5e74;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}


header{
    height: 20vh;
    width: 100vw;
    font-family: "Baloo 2";
    color: #f9c041;
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f9c041; */
    /* opacity: 0.7; */
}

.trustee{
    height: 65vh;
    width: 100vw;
    /* background-color: #fff; */
    /* opacity: 0.7; */
    display: flex;
}

.trustee-left{
    height: inherit;
    width: 42vw;
    /* background-color: aqua; */
}
.trustee-left1{
    height: inherit;
    width: 42vw;
    /* background-color: aqua; */
}

.trustee-head{
    height: 15vh;
    width: inherit;
    /* background-color: #2c5e74; */
    /* color: #fff; */
    font-family: "Baloo 2";
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0vh;
    padding-right: 3vw;
    color: #f9c041;
    /* background-image: url("images/bg5.png");
    background-size: 100vh;
    background-position-y: -22vh;
    background-position-x: -2vw;
    background-repeat: no-repeat; */
}
.trustee-head1{
    height: 15vh;
    width: inherit;
    /* background-color: #2c5e74; */
    /* color: #fff; */
    font-family: "Baloo 2";
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0vh;
    padding-right: 3vw;
    color: #f9c041;
    /* background-image: url("images/bg5.png");
    background-size: 100vh;
    background-position-y: -22vh;
    background-position-x: -2vw;
    background-repeat: no-repeat; */
}
.trustee-left p{
    /* height: 30vh; */
    height: 40vh;
    width: inherit;
    /* background-color: #f9c041; */
    font-family: "Baloo 2";
    font-size: 4vh;
    padding: 0 5vh;
    padding-inline-start: 4vw;
    color: #fff;
    /* padding-top: -3vh; */
}
.trustee-left1 p{
    /* height: 30vh; */
    height: 40vh;
    width: inherit;
    /* background-color: #f9c041; */
    font-family: "Baloo 2";
    font-size: 4vh;
    padding: 0 5vh;
    padding-inline-start: 4vw;
    color: #fff;
    /* padding-top: -3vh; */
}

.trustee-container{
    height: inherit;
    width: 58vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .trustee-cards{
    height: 20vh;
    width: 14vw;
    background-color: #fff;
} */
















.project {
    position: relative;
    overflow: hidden;
    padding: 20px;
    /* background-color: #000; */
}


.project-container {
    padding: 0 5vw;
    width: 55vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.project-container::-webkit-scrollbar {
    display: none;
}

.project-card {
    /* flex: 0 0 auto; */
    width: 15.5vw;
    height: 45vh;
    margin-right: 1.6vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* overflow-y  : hidden; */
    border-radius: 3vh;
    box-shadow: 1px 10px 40px -18px rgba(0, 0, 0, 0.62);

}

.project-card .pcard {
    height: 32vh;
    width: 15.5vw;
    background: #fff;
    overflow: hidden;
}

.pcard img {
    height: 33vh;
    width: inherit;
    /* transition: all .3s ease; */
}

.project-card h2{
    height: 5vh;
    width: inherit;
    /* background-color: #f9c041; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Baloo 2";
}

.project-card h3{
    height: 3.5vh;
    width: inherit;
    /* background-color: #f9c041; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Baloo 2";
}

.project-card .line{
    height: 0.4vh;
    width: 3vw;
    background-color: #f9c041;
    margin-top: 2vh;
}



.pre-btn,
.nxt-btn {
    border: none;
    width: 5vw;
    height: 25%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: -5vw; */
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: -2vw;
    top: 45%;
    transform: rotate(180deg);
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 0%);  */
    background-color: rgba(0, 0, 0, 0);
}

.nxt-btn {
    /* right: 0; */
    left: -2vw;
    top: 30%;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f9c041 0%);  */
    background-color: rgba(0, 0, 0, 0);
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.4;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.pre-btn1{
    display: none;
}

.nxt-btn1{
    display: none;
}

.hr{
    height: 100vh;
    width: 100vw;
    margin-top: 20vh;
    background-color: #2c5e74;
}

.hr-main{
    display: flex;
    flex-direction: row-reverse;
}

.hr-head{
    /* margin-right: 10vw; */
    position: relative;
    left: -2.5vw;
    /* background-image: url("images/bg6.png"); */
    background-size: 65vh;
    background-position-x: 10vw;
    background-position-y: -25vh;
}

.Coordinators{
    position: relative;
    top: -8vh;
}



.members{
    height: 50vh;
    width: 100vw;
}
.special-day-head {
    height: 15vh;
    width: inherit;
    /* background-color: #2c5e74; */
    /* background-image: url("images/bg4.jfif"); */
    /* background-position-y: -10vh; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-day-head .line {
    height: 0.5vh;
    width: 8vw;
    background-color: #f9c041;
    display: flex;
    margin-left: 2vh;
}

.line1 {
    margin-top: 7vh;
    margin-right: -6vh;
    margin-left: 2vw;
}

.line2 {
    margin-top: 7vh;
}

.gif img {
    height: 6vh;
}

.special-heading {
    font-size: 8vh;
    font-weight: 900;
    color: #f9c041;
    font-family: "Baloo 2";
    margin: 0vh;
    margin-top: 6.7vh;
    margin-left: 8vw;

}










.slider{
    height: 40vh;
    margin: auto;
    position: relative;
    width: 100vw;
    display: grid;
    place-items: center;
   
    overflow: hidden;
}


.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}


.slide{
    height:40vh;
    width: 40vw;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 25vh;
    perspective: 100px;
    border-radius: 20vh;
}

.slide img{
    width: 10vw;
    transition: transform 1s;
    border-radius: 25vh;
    border-radius: 20vh;
}

img:hover{
    transform: translateZ(20px);
}




@media (max-width:950px) {
    .trustee{
        display: flex;
        flex-direction: column;
    }

    .trustee-left{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .trustee-left1{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .trustee-head{
        width: 100vw;
        font-size: 5vh;
        margin-top: -2.5vh;
        /* background-size: 105vw;
        background-position-y: -10vh;
        background-position-x: -10vw; */
    }
    .hr-head{
        margin-top: 8vh;
    }
    .trustee-head1{
        width: 100vw;
        font-size: 5vh;
        margin-top: 25vh;
        /* background-size: 105vw;
        background-position-y: -10vh;
        background-position-x: -10vw; */
    }
    .trustee-left p{
        width: 110vw;
        height: 26vh;
        font-size: 3vh;
        margin-top: 7vh;
        margin-left: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .trustee-left1 p{
        width: 110vw;
        height: 24vh;
        font-size: 3vh;
        margin-top: 10vh;
        margin-left: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .trustee-container{
        width: 100vw;
        height: 70vh;
    }

    .project-container{
        width: 100vw;
        margin-left: 7.5vw;
        margin-top: 12vh;
    }
    .project{
        width: 100vw;
        /* padding: 0; */
    }

    .project-card{
        width: 70vw;
        padding: 0;
        margin-left: -1.5vh;
        margin-right:8.5vh;
    }

    .project-card .pcard{
        width: 70vw;
        padding: 0;
    }

    .pcard img{
        width: 100%;
    }

    .pre-btn{
        left: 5vw;
    }

    .nxt-btn {
        /* right: 0; */
        left: 90vw;
        top: 45%;
        /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f9c041 0%); */
        background-color: rgba(0, 0, 0, 0);
    }

    .pre-btn1{
        display: flex;
    }
    
    .nxt-btn1{
        display: flex;
    }

    .p-info label {
        display: flex;
        height: 4.7vh;
        width: 36vw;}

        .p-info-image img {
            height: 20vh;
            /* width: 30vw; */
            border: 1px solid #000;
            border-radius: 35px;
            box-shadow: 1px 2px 10px 2px #000;
            position: relative;
            top: -30vh;
            left: 40vw;
        }

    .p-info-right h1{
        font-size: 4vh;
        line-height: 4vh;
        position: relative;
        /* left: -0vw; */
        width: 70vw;
        top: 10vh;
    }

    .p-info-right p{
        font-size: 2.2vh;
        width: 80vw;
        height: 30vh;
        position: relative;
        text-align: justify;
        left: -15vw;
        top: 5vh;
    }


    @keyframes hey4 {
        from {
            height: 75vh;
            width: 70vw;
        }
    
        to {
            height: 60vh;
            width: 90vw;
        }
    }

    .project1-info label {
        position: fixed;
        left: 33vh;
        top: 25vh;
        cursor: pointer;
        color: #2c5e74;
        font-family: "Baloo 2";
        font-size: 3vh;
    }

    .hr{
        position: relative;
        top: 20vh;
    }

    .Coordinators{
        position: relative;
        top: 20vh;
    }

    .members{
        position: relative;
        top: 60vh;
    }

    .gif{
        display: none;
    }
    .special-day-head{
        margin-left: -1.5vh;
    }

    .special-heading{
        font-size: 6vh;
        margin-top: 45vh;
    }

    .line1{
        margin-right: -4vw;
        margin-top: 45vh;
    }

    .line2{
        margin-top: 45.5vh;
    }
    .slider{
        margin-top: 15vh;
    }

    .slide{
        height: 15vh;
        width: 30vw;
        margin: 2vh;
    }

    .slide img{
        height: 15vh;
        width: 30vw;
    }
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* footer css */
.footer {

    line-height: 1.5;
    font-family: "Baloo 2";
  }
  
  *{ 
      margin:0;
      padding:0;
  }  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    margin-top: 0.2vh;
    background-color: #24262b;
    padding: 70px 0;
    position: relative;
  }
  
  .footer-col {
    width: 30%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f9c041;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }


  .donate1{
    color: #bbbbbb;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

  }

  .donate1:hover{
    cursor: pointer;
    color: #ffffff;
    padding-left: 8px;
  }

  .donate2:hover{
    cursor: pointer;
    color: #ffffff;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px) {
.footer{
    position: relative;
    top: 210vh;
}

    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
